@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web
@using Milton.Blazor.Shared.Models;

<PageTitle>Index</PageTitle>

<div class="px-10">

    <div class="flex flex-row justify-center">

        @foreach (MainCard card in _mainCards)
        {
            <div class="relative p-4">
                <div class="overflow-hidden grow-on-hover cursor-pointer bg-white shadow sm:rounded-lg w-[20rem] h-[26rem] px-6 py-8" @onclick=(card.Action)>
                    <h4 class="text-md text-gray-600">@card.SubTitle</h4>
                    <h2 class="text-3xl mt-4">@card.Title</h2>
                    <img src="_content/Milton.Blazor.Shared/pictures/@(card.ImagePath).svg" alt="Milton's @(card.ImagePath)" class="right-0 bottom-[1.8rem] w-full absolute" />
                </div>
            </div>
        }
    </div>

    <div>
        <div class="flex flex-row">
            <img src="_content/Milton.Blazor.Shared/pictures/milton_logo.svg" alt="Milton's logo" class="w-[18rem]  mr-10" />
            <div>
                <p class="text-md text-gray-700 max-w-3xl leading-8">
                    A sikeresség kulcsa a változásokhoz való gyors alkalmazkodás képessége.
                    A Milton Friedman Egyetem víziójának megfelelően olyan képzéseket, programokat hozott létre, melyek egyaránt átadják az elméleti ismereteket, a praktikus tudást, és a gyakorlatorientált gondolkodásmódot.
                </p>
            </div>
        </div>
    </div>

</div>

@code {
    private List<MainCard> _mainCards = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        FillMenuCards();
    }

    private void FillMenuCards()
    {
        _mainCards.Add(new MainCard() { Title = "Pontszámító kalkulátor", SubTitle = "Fedezd fel", ImagePath = "calculator", Action = () => NavigationManager.NavigateTo("/counter") });
        _mainCards.Add(new MainCard() { Title = "Rólunk", SubTitle = "Olvasd el", ImagePath = "about_us", Action = () => NavigationManager.NavigateTo("/aboutus") });
        _mainCards.Add(new MainCard() { Title = "Képzéseink", SubTitle = "Nézd meg", ImagePath = "courses", Action = () => NavigationManager.NavigateTo("/courses") });
    }
}

}

